body {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FF4500;

}

.container {
    background-color: whitesmoke;
    font-size: 1rem;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 1em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.5em rgba(43, 35, 0, 0.2);

}

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

#user-inp {
    font-size: 1rem;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid black;


}

#search-btn {
    font-size: 1rem;
    background-color: #FF4500;
    font-weight: 400;
    cursor: pointer;

}

#search-btn:hover {

    background-color: rgb(157, 155, 155);
    color: whitesmoke;


}

img {
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
}

.details {
    background-color: #FF4500;
    position: relative;
    margin: -4.3em auto 0 0;
    text-align: center;
    padding: 0;
}

.details h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.details h4 {
    font-size: 1rem;
    font-weight: 300;
}

#show-recipe {
    font-size: 1rem;
    position: relative;
    left: 75%;
    padding: 0.9em 0.6em;
    background-color: #FF4500;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
    cursor: pointer;
}

#show-recipe:hover {
    background-color: rgb(157, 155, 155);
    color: whitesmoke;
}

#recipe {
    position: absolute;
    background-color: whitesmoke;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    display: none;
}

#recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
}

#hide-recipe {
    font-size: 1em;
    position: relative;
    width: 1.8em;
    border: none;
    top: 1.2em;
    left: 90%;
    border-radius: 0.3em;
    background-color: #FF4500;
    color: black;
}

ul {
    font-size: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
}

h3 {
    text-align: center;
    margin-top: 1.8em;
    color: rgb(12, 12, 12);
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;

    }
}